extends layout

block content
  img(src="/images/database-cloud.svg" class="img-logo")
  div.spect-md
  h1.text-header " Project Name "
  div.spect-md
  h2.text-main RESTful APIs
  h2.text-main Database server Oracle.
  p.version Version 1.0.0
